.icon {
  font-size: 24px;
  transition-duration: 200ms;
  cursor: pointer;

  &.settings {
    position: absolute;
    top: min(5vh, 20px);
    right: min(5vw, 20px);

    &:hover {
      transform: rotate(-5deg);
    }
  
    &.open {
      transform: rotate(45deg);
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  padding: 24px 36px;

  .close {
    position: absolute;
    top: 12px;
    right: 12px;

    &:hover {
      transform: scale(90%);
    }
  }

  .title {
    font-size: 20pt;
    color: #FFFA;
    letter-spacing: 1px;
  }

  .switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .label {
      font-size: 16pt;
      color: white;
    }
  }
}
