.icon {
  font-size: 24px;
  transition-duration: 200ms;
  cursor: pointer;

  &.settings {
    position: absolute;
    top: min(5vh, 20px);
    right: min(5vw, 20px);

    &:hover {
      transform: rotate(-5deg);
    }
  
    &.open {
      transform: rotate(45deg);
    }
  }
}

.modal {
  padding: 24px;

  .close {
    position: absolute;
    top: 12px;
    right: 12px;

    &:hover {
      transform: scale(90%);
    }
  }
}
