.container {
  width: 100%;
  height: unset;
  aspect-ratio: 1;
  cursor: pointer;

  .tile {
    background-color: black;
    border-radius: 10px;
    
    .front, .back {
      display: grid;
      place-items: center;
      border-radius: 10px;
      transition-duration: 400ms;
      transition-timing-function: ease-in-out;
      overflow: hidden;

      &.front:hover {
        padding: min(10%, 10px);
        outline: 0.1px solid white;
      }

      &.back {
        padding: min(20%, 25px);

        &.matched {
          outline: 0.1px solid #0AF;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
